.header {
    overflow: hidden;
    background-color: #fff;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 4px;
}

#name {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    background-color: #4aaaa5;
    color: white;
}


.header-right {
    float: right;
}


.grid-container {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: 200px 200px;
    grid-column-gap: 20px;
}

.bottom-center {
    position: absolute;
    
}